/*ABOUT ME FULL PAGE*/
.AboutContact {
  background-color: #e99797;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
}

body.about {
  background-color: #e99797;
  /* margin-top: 3vh; */
  /* padding-top: 4vw; */
  width: 100%;
  text-align: center;
}

/*RETURN HOME BUTTON*/
a.backHome {
  text-align: center;
  color: #fff;
  /* margin-top: 2vh; */
  /* margin-bottom: 0; */
  font-size: 3rem;
}

/*home icon hover*/
a.backHome:hover {
  color: #fff;
  /* color: #e0c3fc; */
}

/* h1 container floating bugs */
h1.homeBugs {
  margin: -5%;
}

/*ABOUT ME PARAGRAPH*/
p {
  font-size: clamp(18px, 50%, 300px);
  color: #fff;
  font-family: "Raleway", sans-serif;
}

/*buttons on about me*/
input.CV,
a.email {
  display: flex;
  justify-content: flex-end;
  font-family: "Josefin Slab", serif;
  text-align: center;
  background: #17333e;
  color: #bfd7e3;
  border-radius: 25px;
  border: none;
  font-size: clamp(16px, 50%, 300px);
  padding: 3px 15px;
  text-decoration: none;
  margin: 4% 3px;
  /* z-index: 1; */
}

/* using color of text because text-decoration didnt work */
a.email:hover {
  color: #bfd7e3;
  /* text-decoration: none; */
}
/* //email button bg box*/
button.email {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
}
/*email button div*/
div.emailButton {
  display: flex;
  justify-content: center;
}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 500px) {
  /*only about me text*/
  p {
    /* text-align: left; */
    /* margin: 0 15vw; */
    color: #fff;
    font-size: 100%;
  }

  a.backHome,
  h1.backhome {
    color: #fff;
    margin-bottom: 0;
  }

  /* h1 container floating bugs */
  h1.homeBugs {
    margin: -6% 0;
  }
}
