/*ABOUT ME FULL PAGE*/
.about {
  display: flex;
  flex-direction: column;
  background-color: #17333e;
}

/*RETURN HOME BUTTON*/
a.backHome {
  color: #fff;
  text-align: left;
  margin: 5% 12vw 0;
}

/*home icon hover*/
a.backHome:hover {
  color: #e7aff7;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 2vw;
}

/*ABOUT ME PARAGRAPH*/
p {
  margin-right: 12vw;
  color: #fff;
  font-size: 18px;
  font-family: "Josefin Slab", serif;
}

/*about me photo*/
.babypic {
  margin-left: 12vw;
  width: auto;
  height: 50vw;
}

/*resume button on about me*/
input.CV {
  font-family: "Josefin Slab", serif;
  text-align: center;
  background: #bfd7e3;
  color: #17333e;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 5vw;
}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 500px) {
  .babypic {
    height: 102vw;
    width: 75vw;
    margin-bottom: 6vw;
  }

  div.col.babypic {
    text-align: center;
  }

  /*only about me text*/
  p {
    text-align: left;
    margin: 0 18vw;
    color: #fff;
  }

  /*about me copy div (text & button container)*/
  .copy {
    text-align: center;
  }

  a.backHome {
    color: #fff;
    text-align: center;
    margin: 3% 0;
  }
}
