.card-img {
  height: 20vw;
  object-fit: cover;
}

.card {
  width: 35vw;
  margin: 1vw 1vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vw 4vw;
}

button.btnButton {
  font-size: 2vw;
  background: #e7aff7;
  font-family: 'Josefin Slab', serif;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px 12px;
  text-transform: lowercase;
  transition-duration: 0.4s;
  opacity: .9;
}

.grid {
  margin-top: 5vw;
  margin-bottom: 40vw;
}

.card-img-overlay {
  display: flex;
  float: left;
}