/*controls image size for cards for engineer and artist*/
.card-img {
  height: 20vw;
  object-fit: cover;
}

/*size of card and space between them for engineer and artist*/
.card {
  width: 35vw;
  margin: 1vw;
  align-self: center;
}

div.cards {
  justify-content: center;
}

/*project name buttons*/
button.btnButton {
  font-size: 2vw;
  background: #e0c3fc;
  font-family: "Josefin Slab", serif;
  color: #8f6caf;
  border: none;
  border-radius: 25px;
  padding: 5px 12px;
  text-transform: lowercase;
  transition-duration: 0.4s;
  margin: 1px;
}

/*button placement*/
.card-img-overlay {
  display: flex;
  float: left;
}

/*engineer blurb*/
h6.blurb {
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-size: clamp(.8rem, 1.5rem, 4rem);
}

/*artist blurb*/
h6.blurb-art {
  font-family: "Raleway", sans-serif;
  text-align: right;
  font-size: clamp(.8rem, 1.5rem, 4rem);
}

/*col that holds blurbs and cards*/
div.col-cards {
  display: flex;
  flex-direction: column;
  margin: 3vw;
  width: 60%;
}

/*emoji and text box for both*/
div.row-blurb {
  display: flex;
  align-items: center;
  margin: 0 3vw 2vw;
}

/*card rows*/
div.row-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*emoji*/
img.engineer,
img.artist {
  width: 8vw;
  height: 8vw;
  margin: 0 15px;
}

/*MOBILE LAYOUT*/
@media only screen and (max-width: 500px) {
  /* .card {
    width: 35vw;
    margin: 6px 5px;
    align-self: center;
  } */

  h6.blurb,
  h6.blurb-art {
  font-size: clamp(.7rem, .9rem, 1rem);
  }

  div.col-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  div.row-blurb {
    display: flex;
    align-items: center;
    margin: 0 0px 10px;
  }

  div.row-cards {
    display: flex;
  }

  /*emoji*/
  img.engineer,
  img.artist {
    width: 11vw;
    height: 11vw;
    margin: 0 5px;
  }
}

/*IPAD LAYOUT*/
@media (min-width: 501px) and (max-width: 900px) {
  /* .card {
    width: 35vw;
    margin: 14px;
    align-self: center;
  } */

  h6.blurb,
  h6.blurb-art {
  font-size: clamp(14px, 50%, 300px);
  }

  div.col-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw;
  }

  div.row-blurb {
    display: flex;
    align-items: center;
    margin: 0 0 2vw;
  }

  div.row-cards {
    display: flex;
  }

  /*emoji*/
  img.engineer,
  img.artist {
    width: 70px;
    height: 70px;
    margin: 0 15px;
  }
}
