
.container-footer {
  text-align: center;
  }

.imgMain {
  margin: 0 5px 50px 5px;
  opacity: 1;
  width: 12vw;
  height: 7vw;
  opacity: 0.8;
}

.row-social {
  font-size: 30px;
  text-align: center;
  margin-top: 15vw;
  margin-bottom: 2vw;
}

.social {
  color: #fff;
  margin: 0 2vw;
}

.social:hover {
  color: #e7aff7;
}

@media only screen and (max-width: 500px) {
 
  .row-social {
    font-size: 5vw;
    text-align: center;
  }
}
