.container {
    display: flex;
}

.imgMain {
    margin: 0 4px 50px 4px;
    opacity: 1;
    width: 10vw;
    height: 6vw;
    opacity: .8;
}

.col-social {
    font-size: 5vw;
}

.social {
    color: #fff;
    margin: 0 2vw;
}

.social:hover {
    color: #e7aff7;
}