
.container-footer {
  margin-top: 25vh;
  margin-bottom: 10vh;
  text-align: center;
  }

.imgMain {
  margin: 0 5px;
  opacity: 1;
  width: 8vw;
  height: auto;
  opacity: 0.8;
}

.social {
  font-size: 2.5vw;
  color: #fff;
  margin: 2vw 1vw;
}

.social:hover {
  color: #e7aff7;
}

@media only screen and (max-width: 500px) {
 
  .social {
    font-size: 5vw;
    text-align: center;
  }

  .imgMain {
    opacity: 1;
    width: 12vw;
    height: auto;
    opacity: 0.8;
  }
}
