.App {
  height: 100%;
}

h5 {
  text-align: center;
  padding: 10vw 0 5vw 0;
}

.aboutcontact {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  text-align: center;
  font-family: "Josefin Slab", serif;
  text-transform: lowercase;
  font-weight: lighter;
}

.aboutcontact:hover {
  color: #e7aff7;
}

.home {
  width: 101vw;
}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 15vw;
  }
}

/*IPAD LAYOUT*/
@media (min-width: 501px) and (max-width: 900px) {
  .name {
    font-size: 15vw;
  }
}
