.App {
    height: 100%;
}

h5 {
    text-align: center;
    padding-top: 10vw;
}

/*my name*/
.name {
    text-align: center;
    font-size: 10vw;
    font-family: 'Josefin Slab', serif;
    text-transform: lowercase;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 0;
}

.aboutcontact{
    text-decoration: none;
    font-style: italic;
    color: #fff;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    text-transform: lowercase;
    font-weight: lighter;
}

.aboutcontact:hover {
    color: #e7aff7;
}


.home {  
    width: 100vw;
}

@media only screen and (max-width: 500px) {
.name {
    font-size: 15vw;
}
}