/* POPUP FOR RESUME BUTTON

Popup style */
.popup-box {
  position: fixed;
  background: #00000030;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 37vw;
  margin: 0 auto;
  height: auto;
  max-height: 80vw;
  margin-top: calc(100vh - 90vh - 20px);
  background: #f4cdcd;
  border-radius: 4px;
  padding: 20px 10px;
  overflow: auto;
}

.close-icon {
  color: #bfd7e3;
  content: "x";
  position: fixed;
  right: calc(30% - 1px);
  top: calc(100vh - 90vh - 33px);
  background: #17333e;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #bfd7e3;
  font-size: 20px;
}

/*resume*/
.container-resume {
  text-align: center;
  margin-top: 25px;
}

img {
  width: 35vw;
  margin: 0px;
}

a.resume {
  text-align: center;
  color: #bfd7e3;
  font-family: "Josefin Slab", serif;
  text-transform: lowercase;
}

a.resume:hover {
color: #fff;
}

button.btn {
  background: #17333e;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  margin: 10px 10px;
}

@media only screen and (max-width: 500px) {
  /*resume jpg for popup*/
  img.pic {
    display: none;
  } 

  .container-resume {
    text-align: center;
    margin: 0 0 2vw 0;
  }

  button.btn {
    background: #17333e;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    padding: 5px 15px;
    margin: 10px 10px;
  }

  .box {
    position: relative;
    width: 200px;
    margin: 0 auto;
    height: auto;
    max-height: 80vw;
    margin-top: calc(100vh - 90vh - 20px);
    background: #f4cdcd;
    border-radius: 4px;
    padding: 20px 10px;
    overflow: auto;
  }
}