

/* POPUP FOR RESUME BUTTON
Popup style */
.popup-box,
.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #f4cdcd;
  text-align: center;
}
 /*pink box*/
/* .box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; 
  background-color: #f4cdcd;
  text-align: center;
}  */

span.close-icon {
  color: #e06b6b;
  padding-left: 80%;
  font-size: 2rem;
  position: relative;
}

/*resume*/
img.pic {
  text-align: center;
  width: 90%;
  margin: 1vw 0;
} 

a.resume {
  font-size: .9rem;
  text-decoration: none;
  text-align: center;
  color: #bfd7e3;
  font-family: "Josefin Slab", serif;
  text-transform: lowercase;
}

a.resume:hover {
color: #fff;
}

button.btn {
  background: #17333e;
  border-radius: 25px;
  border: none;
  font-size: .9rem;
  padding: 5px 11px;
  margin: 1.5em;
}

@media only screen and (max-width: 500px) {
  /*resume jpg for popup*/
  img.pic {
    text-align: center;
    width: 90%;
    margin: 3vw 0;
  } 

  .container-resume {
    text-align: center;
    /* margin: 0 0 2vw 0; */
  }

  button.btn {
    background: #17333e;
    border-radius: 25px;
    border: none;
    font-size: .2rem;
    padding: 5px 15px;
    margin: 10px 10px 12px;
  }

  .popup-box,
  .box {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    width: 90%;
    background-color: #f4cdcd;
    text-align: center;
  }

  span.close-icon {
    color: #e06b6b;
    padding-top: 20%;
    padding-left: 80%;
    font-size: 2rem;
    position: relative;
  }


}



/*
.popup-box {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0em;
  z-index: 1;
  left: 0;
}
 /*pink box
.box {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  position: fixed;
  width: 45vw;
  max-height: 80vw;
  margin: calc(100vh - 90vh - 20px);
  background-color: #f4cdcd;
  border-radius: 4px;
  z-index: 1;
  overflow: auto;
} 
*/