

/* POPUP FOR RESUME BUTTON
Popup style */
.popup-box,
.box {
  /*Position and width*/
  position: fixed;
  width: 40em;
  height: fit-content;
  
  /*NOTE: If you want your modal's position to be absolute or fixed, you should also include:*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  
  /*Centering horizintally*/
  margin: auto;
  background-color: #f4cdcd;
text-align: center;
}

/* position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50vw;
background-color: #f4cdcd;
text-align: center; */

span.close-icon {
  color: #e06b6b;
  font-size: 2rem;
  position: relative;
}

/*resume*/
img.pic {
  text-align: center;
  width: 90%;
  margin: 1vw 0 0;
} 

a.resume {
  font-size: .9rem;
  text-decoration: none;
  text-align: center;
  color: #bfd7e3;
  font-family: "Josefin Slab", serif;
  text-transform: lowercase;
}

a.resume:hover {
color: #fff;
}

button.btn {
  background: #17333e;
  border-radius: 25px;
  border: none;
  font-size: .9rem;
  padding: 5px 11px;
  margin: 1.5em .6em;
}

@media only screen and (max-width: 500px) {
  /*resume jpg for popup*/
  img.pic {
    text-align: center;
    width: 90%;
    margin: 3vw 0;
  } 

  .container-resume {
    text-align: center;
  }

  button.btn {
    background: #17333e;
    border-radius: 25px;
    border: none;
    font-size: .2rem;
    padding: 5px 15px;
    margin: 10px 10px 12px;
  }

  .popup-box,
  .box {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    width: 90%;
    background-color: #f4cdcd;
    text-align: center;
  }

  span.close-icon {
    color: #e06b6b;
    padding-top: 20%;
    /* padding-left: 80%; */
    font-size: 2rem;
    position: relative;
  }


}