.toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 0px;
}

.react-switch-checkbox {
    display: flex;
    width: 0;
    visibility: hidden;
}

.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 7vw;
    height: 4vw;
    background: #fff;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.react-switch-label .react-switch-button {
    display: flex;
    content: '';
    position: absolute;
    top: 0.5vw;
    left: .5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 45px;
    transition: 0.4s;
    background: #e7aff7;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    display: flex;
    left: calc(100% - .5vw);
    transform: translateX(-100%);
}

/*
.react-switch-label:active .react-switch-button {
    width: 30px;
}
*/

.label-dark-engineer,
.label-light-artist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    font-size: 2vw;
    text-transform: uppercase;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 5px;
}

.icon-dark {
    padding-bottom: 1vw;
    font-size: 3vw;
    padding-right: 10px;
}

.icon-light {
    padding-bottom: 1vw;
    font-size: 3vw;
    padding-left: 10px;
    padding-right: 5px;
}

/* cards */
.cards {
    display: flex;
}